:root {
  /*Colores*/
  --primario: #070320;
  --claro: #00ffff;
  --rojo: #d80027;
  --blanco: #ffffff;
  --marron: #1c140f;
  --blanco2: hsl(23, 28%, 84%);
  --negro: black;
  --degr2: #3b2a9f;
  --degr1: #070320;
  --azul: #2351f5;
  --rosa: #ff8484;
  --naranja: #ff7c32;
  --verde: #23a54f;
  --morado: #9921c3;

  /*Fuentes*/
  --fuenteTitulo: "Rubik", sans-serif;
  --fuenteHeading: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 65.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteTitulo);
  font-family: var(--fuenteHeading);
  background-color: var(--primario);
  color: var(--blanco);
  background: linear-gradient(
    to bottom right,
    var(--degr1),
    var(--degr1),
    var(--degr2)
  );
}

/*Globales*/
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
}

.marginTop {
  margin-top: 0;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fuenteTitulo);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}
/*Utilidades*/
.center {
  text-align: center;
}
.no-margin {
  margin: 0;
}
.centrar-texto {
  text-align: center;
}
.color {
  color: var(--claro);
}
.barra {
  padding-top: 4rem;
}
.contenedor__top {
  margin-top: 5rem;
}

.margin__top--boton {
  margin: 5rem 0 0 0;
}
.margin__botton {
  margin-bottom: 3rem;
}
.logo__posicion {
  text-align: center;
}
.upper {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .logo__posicion {
    text-align: left;
  }
}
/*Header*/

.section__texto {
  margin-top: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .section__texto {
    text-align: left;
  }
}

.header__texto {
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .header__texto {
    padding: 5rem 0;
  }
  @media (min-width: 1240px) {
      .header__texto{
        padding: 9rem 0;
      }
  }
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  color: var(--blanco);
}
/*navegacion*/
@media (min-width: 768px) {
  .navegacion {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: var(--blanco);
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.navegacion__enlace:hover {
  background-color: var(--rojo);
  border-radius: 1rem;
  transform: scale(1.05);
}
/*boton*/
/*
.boton {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1.5rem 4rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  border-radius: 2rem;
  border: none;
  margin-top: 3rem;
}*/
.boton__pestaña {
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}
.boton--primario {
  font-size: var(--fuenteHeading);
  color: var(--blanco);
  padding: 1.5rem 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border-radius: 2rem;
  border: none;
  margin-top: 3rem;
  transition: transform 0.3s ease;
  background-image: linear-gradient(
    290deg,
    #ff794e 0,
    #ff6149 25%,
    #f54242 50%,
    #e6103c 75%,
    #da003c 100%
  );
}
/*
.boton-2 {
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  border-radius: 2rem;
  border: none;
  margin-top: 3rem;
}*/

.boton__pestaña:hover {
  color: var(--rojo);
}
.red {
  color: var(--rojo);
}

@media (min-width: 768px) {
  .boton--primario {
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-top: 6rem;
  }
}
/*
@media (min-width: 1240px) {
  .boton__1 {
    display: block;
  }
}*/
.boton:hover {
  cursor: pointer;
}

.boton--primario:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.boton__3 {
  background-color: var(--rojo);
  color: var(--blanco);
  padding: 1rem 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 80%;
  text-align: center;
  border: none;
}
.alinear-derecha {
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .boton__3 {
    width: 30%;
    text-align: center;
  }
}

.section__Home {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 480px) {
  .section__Home {
    background-size: auto;
  }
}
.size {
  max-width: 50%;
}

@media (min-width: 480px) {
  .size {
    max-width: 100%;
  }
}
@media (min-width: 1240px) {
  .size {
    max-width: 75%;
  }
  .logo__posicion{
    width: 25%;
  }
}
.grid__index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  gap: 4rem;
}
@media (min-width: 768px) {
  .grid__index {
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
  }
}
/*.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0;
    gap: 4rem;
}
@media (min-width: 480px) {
    .grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
@media (min-width: 768px) {
    .grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  */
/*main*/

.entrada__info {
  text-align: center;
}
@media (min-width: 1240px) {
  .entrada__info {
    text-align: left;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  align-items: center;
}
@media (min-width: 768px) {
  .flex {
    text-align: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    align-items: center;
    flex-direction: row;
  }
}
.bg {
  background-color: var(--marron);
}
/*servicios*/
.services {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem;
}
.service {
  margin: 3rem 1rem;
}
/*
.grid--services {
  display: inline-block;
  margin-top: 0rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid--services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    justify-items: center;
    gap: 1rem;
  }
}


/*.grid--services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  justify-items: center;
  gap: 1rem;
}*/


/*banner1*/
.entrada {
  grid-column: 1/4;
}

@media (min-width: 1240px) {
  .entrada {
    grid-column: 1/3;
  }
}
.entrada__img {
  width: 100%;
  border-radius: 2rem;
  padding: 0 0 5rem 0;
}
@media (min-width: 1240px) {
  .entrada__img {
    border-radius: 7rem;
    padding: 5rem;
  }
}

.entrada__informacion {
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
  padding: 0;
}
@media (min-width: 1240px) {
  .entrada__informacion {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
    padding: 0rem;
  }
}
/*banner2*/
.entrada__banner2 {
  grid-column: 1/4;
}
@media (min-width: 1240px) {
  .entrada__banner2 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
.entrada__informacion--banner2 {
  grid-column: 1/4;
  grid-row: 4/5;
  text-align: center;
  padding: 0;
}
@media (min-width: 1240px) {
  .entrada__informacion--banner2 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    margin-top: 7rem;
  }
}
/*banner3*/
.entrada__banner3 {
  grid-column: 1/4;
}
@media (min-width: 1240px) {
  .entrada__banner3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.entrada__informacion--banner3 {
  grid-column: 1/4;
  grid-row: 6/7;
  text-align: center;
  padding: 0;
}
@media (min-width: 1240px) {
  .entrada__informacion--banner3 {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: left;
    margin-top: 7rem;
  }
}
/*banner4*/
.entrada__banner4 {
  grid-column: 1/4;
}
@media (min-width: 1240px) {
  .entrada__banner4 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}
.entrada__informacion--banner4 {
  grid-column: 1/4;
  grid-row: 8/9;
  text-align: center;
  padding: 0;
}
@media (min-width: 1240px) {
  .entrada__informacion--banner4 {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: left;
    margin-top: 7rem;
  }
}*/
/*Contact Us*/
.flex__contactUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .flex__contactUs {
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.block {
  display: block;
}
.img-mapa {
  margin: 5rem 0;
  width: 70%;
}
@media (min-width: 768px) {
    .img-mapa {
      width: 60%;
    }   
    @media (min-width: 1440px) {
        .img-mapa {
          width: 40%;
        }
    }
}
.services__contact {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .service__contact {
    padding: 2rem;
  }
}
.service__contact {
  margin: 1rem 1rem;
}

.bg-white {
  background-color: var(--blanco);
}
/*contacto*/
.formulario {
  width: min(60rem, 100%);
  color: var(--primario);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--primario);
}

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }
  .campo:nth-child(3),
  .campo:nth-child(4) {
    grid-column: 1 / 3;
  }
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: var(--primario);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.campo textarea {
  height: 15rem;
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--primario);
  color: var(--blanco);
}

.line-height {
  line-height: 40px;
}

.section-text {
  margin: 100px 0 50px 0;
}

.section-text p {
  width: 100%;
}

/* FOOTER INICIO */
footer {
  background-color: var(--blanco);
  color: black;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
}

footer .footer-content--about {
  width: 30%;
}

footer .footer-content--contact {
  width: 30%;
}

footer .footer-content--social {
  display: flex;
}

footer .footer-content--social a {
  margin: 0 5px;
}

.entypo-social--facebook-with-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='black' d='M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4m2.274 6.634h-1.443c-.171 0-.361.225-.361.524V8.6h1.805l-.273 1.486H10.47v4.461H8.767v-4.461H7.222V8.6h1.545v-.874c0-1.254.87-2.273 2.064-2.273h1.443z'/%3E%3C/svg%3E");
}

.entypo-social--twitter-with-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='black' d='M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4m3.905 7.864c.004.082.005.164.005.244c0 2.5-1.901 5.381-5.379 5.381a5.335 5.335 0 0 1-2.898-.85c.147.018.298.025.451.025c.886 0 1.701-.301 2.348-.809a1.895 1.895 0 0 1-1.766-1.312a1.9 1.9 0 0 0 .853-.033a1.892 1.892 0 0 1-1.517-1.854v-.023c.255.141.547.227.857.237a1.89 1.89 0 0 1-.585-2.526a5.376 5.376 0 0 0 3.897 1.977a1.891 1.891 0 0 1 3.222-1.725a3.797 3.797 0 0 0 1.2-.459a1.9 1.9 0 0 1-.831 1.047a3.799 3.799 0 0 0 1.086-.299a3.834 3.834 0 0 1-.943.979'/%3E%3C/svg%3E");
}

.entypo-social--instagram-with-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='black' d='M13 10a3 3 0 1 1-6 0c0-.171.018-.338.049-.5H6v3.997c0 .278.225.503.503.503h6.995a.503.503 0 0 0 .502-.503V9.5h-1.049c.031.162.049.329.049.5m-3 2a2 2 0 1 0-.001-4.001A2 2 0 0 0 10 12m2.4-4.1h1.199a.301.301 0 0 0 .301-.3V6.401a.301.301 0 0 0-.301-.301H12.4a.301.301 0 0 0-.301.301V7.6c.001.165.136.3.301.3M10 .4A9.6 9.6 0 0 0 .4 10a9.6 9.6 0 0 0 9.6 9.6a9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 10 .4m5 13.489C15 14.5 14.5 15 13.889 15H6.111C5.5 15 5 14.5 5 13.889V6.111C5 5.5 5.5 5 6.111 5h7.778C14.5 5 15 5.5 15 6.111z'/%3E%3C/svg%3E");
}
.entypo-social--linkedin-with-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='black' d='M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4M7.65 13.979H5.706V7.723H7.65zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973m8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699z'/%3E%3C/svg%3E");
}
.social-bt{
  transition: transform 0.3s ease;
}
.social-bt:hover{
  transform: scale(1.1);
}

footer .footer-copy {
  border-top: 1px solid black;
  padding: 30px;
  color: black;
  text-align: center;
}

@media (width < 768px) {
  footer .footer-content {
    display: block;
    padding: 0 5px;
    margin-bottom: 40px;
  }

  footer .footer-content--about,
  footer .footer-content--contact {
    width: 100%;
    text-align: center;
    padding: 30px 0 20px 0;
  }

  footer .footer-content--social {
    justify-content: center;
  }
}
/* FOOTER FIN */
/* NEWS */
img {
  transition: transform 0.3s ease;
}
.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}
.bg-azul {
  background-color: var(--azul);
  padding: 1rem;
}
.bg-rosa {
  background-color: var(--rosa);
  padding: 1rem;
}
.bg-naranja {
  background-color: var(--naranja);
  padding: 1rem;
}
.bg-verde {
  background-color: var(--verde);
  padding: 1rem;
}
.bg-morado {
  background-color: var(--morado);
  padding: 1rem;
}
.centrar-flex {
  justify-content: center;
}
.sc {
  padding: 1rem;
}
.min {
  display: flex;
}
.padding {
  padding: 2rem;
}
.busqueda {
  background-color: var(--blanco2);
  border-style: none;
  color: var(--negro);
  display: block;
  margin: 5rem auto;
  width: 15rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.pointer:hover img {
  cursor: pointer;
  transform: scale(1.03);
}
.p-news {
  font-size: 1rem;
}
.indi-news {
  padding-top: 15.5rem;
}
.indi-news-title {
  font-weight: bold;
}
.hr-news {
  margin: 4rem 0;
}
.espacio-texto{
  padding-top: 15rem;
}
@media (min-width: 768px) {
  .entrada-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .mitad {
    width: 70%;
  }
  h5 {
    margin: 1rem 0;
    padding-right: 2rem;
  }
  .centrar-flex {
    justify-content: left;
  }
  .imgsep {
    padding: 0 auto;
  }
  .allsep {
    display: flex;
    padding-top: 2rem;
  }
  .busqueda {
    width: 20%;
  }
  .arriba {
    width: 100%;
  }
  .p-news {
    font-size: 1.5rem;
  }
}
/* FIN DE NEWS */

/* ABOUT INICIO */

.about {
  background-color: white;
  color: black;
  text-align: center;
  padding: 50px 100px;
  margin:0 0 100px 0;
  border-radius: 2rem;
}

@media (min-width: 480px) {
    .about {
      margin: 0px 0 100px 0;
    }
}

.about h4 {
  font-size: 3rem;
}

.about p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

@media (width < 768px) {
  .about {
    padding: 30px;
  }
}

.team__section--title {
  font-size: 3rem;
}

.team__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 40px;
}
.team__card {
  background-color: black;
  border-radius: 20px;
  text-align: center;
}

.whyWork__section h4 {
  font-size: 3rem;
}

.whyWork__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.whyWork__card {
  background-color: var(--blanco);
  color: black;
  min-width: 300px;
  padding: 50px 40px;
  border-radius: 20px;
}

.whyWork__card .whyWork__card--title {
  font-size: 2rem;

  font-weight: bold;
}

.whyWork__card .whyWork__card--description {
  font-size: 1.4rem;
}
/* ABOUT FIN */
