---
interface Props {
  title: string;
  body: string;
  color: string; // bg-red-100
}

const { title, body, color } = Astro.props;
---

<div
  class="max-w-sm bg-white rounded-2xl font-poppins text-black px-8 py-7 m-3 font-display">
  <p class=`text-xs ${color} pl-3  pr-8 py-2 inline-block rounded-md`>
    {title}
  </p>
  <h3 class="text-xl font-bold my-5">Lorem ipsum</h3>
  <p class="text-xs my-5">{body}</p>
</div>
