---
interface Props {
  title: string;
  body: string;
  image: string;
}

const { title, body, image } = Astro.props;
---

<section class="text-white py-10 px-10">
  <div class="py-10">
    <h2 class="font-poppins font-bold text-xl leading-normal">
      {title}
    </h2>
    <p class="font-poppins text-sm leading-loose my-8">
      {body}
    </p>
    <a
      class="font-poppins py-2 px-4 rounded-full bg-gradient-to-r from-[#D80027] to-[#FB9E3C]"
      href="/about">Get in touch</a
    >
  </div>
  <div class="hidden sm:contents">
    <img src={image} alt="" />
  </div>
</section>
