---
interface Props {
  colorBg: string; // bg-red-100
  colorINput: string;
}

const { colorBg, colorINput } = Astro.props;
---

<div
  class=`${colorBg} mx-auto	w-4/5	border border-sky-500 rounded-lg py-10 px-11`
>
  <div class="text-white">
    <h3 class="text-3xl font-normal my-2">Stay in the loop</h3>
    <p class="text-base">
      Subscribe to receive the latest news and updates about TDA.
    </p>
    <p class="text-base">We promise not to spam you!</p>
  </div>
  <div></div>
</div>
